<!DOCTYPE html>
<html class="wide desktop landscape rd-navbar-static-linked" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Обмен сообщениями</title>
    <meta name="description" content="Обмен сообщениями">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" th:href="@{/resources/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
    <style>
        html, body, .page, section, .container, #container-messages, #message-left, #message-right {
            height: 100% !important;
            -ms-overflow-style: none;
        }

        ::-webkit-scrollbar-button {background-image:url('');
            background-repeat:no-repeat;
            width:6px;
            height:0px}

        ::-webkit-scrollbar-track {
            background-color: #cbcbcb;
            box-shadow: 0px 0px 3px #cbcbcb inset;
        }

        ::-webkit-scrollbar-thumb {
            -webkit-border-radius: 5px;
            border-radius: 5px;background-color: #65AFEC;
            box-shadow:0px 1px 1px #fff inset;
            background-position:center;
            background-repeat:no-repeat;
        }

        ::-webkit-resizer{
            background-image:url('');
            background-repeat:no-repeat;
            width:7px;
            height:0px
        }

        ::-webkit-scrollbar{width: 2px;}

        .rd-navbar-classic.rd-navbar-static .rd-navbar-main {
            padding: 5px 0;
        }

    </style>
</head>
<body>
<div class="page animated">
    <!-- Page Header-->
    <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap" style="height: 110px;">
            <nav class="rd-navbar rd-navbar-classic rd-navbar-original rd-navbar-static rd-navbar--is-stuck" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                <div class="rd-navbar-main-outer">
                    <div class="rd-navbar-main">
                        <!-- RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <!-- RD Navbar Toggle-->
                            <button class="rd-navbar-toggle toggle-original" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                            <!-- RD Navbar Brand-->
                            <div class="rd-navbar-brand">
                                <!--Brand--><a class="brand" href="/">
                                <img class="brand-logo-dark" th:src="@{/resources/images/logo.png}" alt="" width="143" height="26">
                                <img class="brand-logo-light" th:src="@{/resources/images/logo.png}" alt="" width="143" height="26"></a>
                            </div>
                        </div>
                        <div class="rd-navbar-main-element">
                            <div class="rd-navbar-nav-wrap toggle-original-elements">
                                <ul class="rd-navbar-nav">
                                    <li class="rd-nav-item rd-navbar--has-dropdown">
                                        <a class="rd-nav-link" href="/">Главная</a>
                                    </li>
                                    <li class="rd-nav-item rd-navbar--has-dropdown rd-navbar-submenu">
                                        <a class="rd-nav-link full-click" href="/post">Бизнес</a>
                                        <ul class="rd-menu rd-navbar-dropdown">
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/posts/Russia/any">Россия</a></li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/posts/Ukraine/any">Украина</a></li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/posts/Belarus/any">Белоруссия</a></li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/posts/Kazakhstan/any">Казахстан</a></li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/posts">Все страны</a></li>
                                        </ul>
                                    </li>
                                    <li class="rd-nav-item rd-navbar--has-dropdown rd-navbar-submenu">
                                        <a class="rd-nav-link full-click" href="/manage">Объявления</a>
                                        <ul class="rd-menu rd-navbar-dropdown">
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/manage/post/add">Добавить</a></li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/manage/post/list">Управление</a></li>
                                        </ul>
                                    </li>
                                    <li class="rd-nav-item rd-navbar--has-dropdown">
                                        <a class="rd-nav-link" href="/faq">FAQ</a>
                                    </li>
                                    <li class="rd-nav-item rd-navbar--has-dropdown">
                                        <a class="rd-nav-link" href="/contact">Контакты</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <div class="rd-navbar-aside">
                                <div class="rd-navbar-aside-item">
                                    <div class="mobile-profile">
                                        <button class="button button-xs button-primary-outline button-icon button-icon-left rd-navbar-popup-toggle toggle-original" data-rd-navbar-toggle="#rd-navbar-profile-mobile">
                                            <span class="icon mdi mdi-account"></span>
                                        </button>
                                        <div class="bg-color-white toggle-original-elements" id="rd-navbar-profile-mobile">
                                            <ul class="user-menu">
                                                <li class="title-menu menu-margin" sec:authentication="principal.email"></li>
                                                <li class="menu-item-user menu-margin"><a href="/chat">Сообщения</a></li>
                                                <li class="menu-item-user menu-margin"><a href="/profile">Профиль</a></li>
                                                <li class="sep-menu"></li>
                                                <li class="menu-item-user menu-margin"><a th:href="@{/logout}">Выход</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="rd-navbar-aside-item">
                                    <div class="mobile-profile">
                                        <button class="button button-xs button-primary button-icon button-icon-left rd-navbar-popup-toggle toggle-original">
                                                <span id="email-mobile" class="icon mdi mdi-email"
                                                      onclick="window.location.href='/chat'"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="rd-navbar-aside-item">
                                    <ul id="ul-login-block">
                                        <li class="line-sep"></li>
                                        <li id="email-comp" class="icon icon-lgs text-primary mdi clb mdi-email"
                                            onclick="window.location.href='/chat'"></li>
                                        <li class="line-sep"></li>
                                        <li>
                                            <figure>
                                                <div class="comment-avatar-min" style="background-color:#1087eb">
                                                    <span sec:authentication="principal.initial"></span></div>
                                            </figure>
                                        </li>
                                        <li>
                                                <span id="login-name" sec:authentication="principal.name" onselectstart="return false" onmousedown="return false" data-rd-navbar-toggle="#rd-navbar-profile">
                                                </span>
                                            <span class="icon icon-sms mdi mdi-menu-down"></span>
                                            <div class="bg-color-white toggle-original-elements" id="rd-navbar-profile">
                                                <ul class="user-menu">
                                                    <li class="title-menu menu-margin" sec:authentication="principal.email"></li>
                                                    <li class="menu-item-user menu-margin"><a href="/chat">Сообщения</a></li>
                                                    <li class="menu-item-user menu-margin"><a href="/profile">Профиль</a></li>
                                                    <li class="sep-menu"></li>
                                                    <li class="menu-item-user menu-margin"><a th:href="@{/logout}">Выход</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <section>
        <div class="container">
            <div id="all-users">
                <p><span class="icon mdi mdi-arrow-left"></span>
                    <span id="contacts">Все Контакты</span></p>
            </div>
            <div id="container-messages">
                <p id="chatMail" style="display: none" sec:authentication="principal.username"></p>
                <p id="chatId" style="display: none" sec:authentication="principal.id"></p>
                <p id="activeId" style="display: none" th:text="${activeId}"></p>
                <div id="message-left" class="mobile-users active">
                    <div id="users-search">
                        <input type="search" placeholder="Поиск пользователя" />
                    </div>
                    <div id="users-list">
                        <article th:each="user : ${users}" class="message-light click-user" th:classappend="${user.id == activeId} ? 'selected-user' : ''">
                            <figure class="company-light-figure">
                                <div th:attr="class=${user.read ? 'comment-avatar new-message-border' : 'comment-avatar'}"
                                     th:style="'background-color:'+${user.color}">
                                    <span th:text="${user.initial}"></span>
                                </div>
                            </figure>
                            <div class="company-light-main">
                                <span th:if="${user.read}" class="new_message"></span>
                                <p class="id_user" style="display: none" th:text="${user.id}"></p>
                                <h5 class="message-light-title" th:text="${user.name}"></h5>
                                <p><i th:attr="style=${user.read ? 'color:#00bb00' : ''}"
                                    class="last-message" th:text="${user.content}"></i></p>
                            </div>
                        </article>
                    </div>
                    <div id="message-three"></div>
                </div>
                <div id="message-right">
                    <div id="block-messages">
                        <div id="select-user">Выберите собеседника</div>
                    </div>
                    <div id="text-message">
                        <div id="content-text-wrapper">
                            <textarea id="content-text" contenteditable="true" placeholder="Напишите сообщение..."></textarea>
                            <button type="button" id="sendBtn">ОТПРАВИТЬ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="snackbars" id="form-output-global"></div>
<script th:src="@{/resources/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/resources/js/core.min.js}"></script>
<script th:src="@{/resources/js/noty.min.js}"></script>
<script th:src="@{/resources/js/script.js}"></script>
<script th:src="@{/resources/js/sockjs.min.js}"></script>
<script th:src="@{/resources/js/stomp.min.js}"></script>
<script>
    let chatId = '/chat/' + $('#chatMail').text() + '/' + $('#chatId').text();
    let block = document.getElementById("block-messages");
    let templateQuestion = "<div class='user-question'>$content<p><span><i>$date</i></span></p></div>";
    let templateAnswer = "<div class='user-answer'><p><b>$name</b> <span><i>$date</i></span></p>$content</div>";
    block.scrollTop = block.scrollHeight;

    function formatDate(now) {
        let months = 'января,февраля,марта,апреля,мая,июня,июля,августа,сентября,октября,декабря'.split(',');
        return now.getDate() + " " + months[now.getMonth()] + " " + now.getFullYear() + " в "
            + now.getHours() + ":" + (now.getUTCMinutes()<10?'0':'') + now.getUTCMinutes();
    }

    function addDescription(id, content) {
        $('.id_user').each(function(index, el) {
            if ($(el).text() == id) {
                let user = $(el).parent('.company-light-main').find('.last-message');
                if (content.length > 29) {
                    content = content.substring(0, 24) + "...";
                }
                user.text('');
                user.text(content);
            }
        });
    }

    function addNewMessage(id) {
        $('.id_user').each(function(index, el) {
            if ($(el).text() == id) {
                let user = $(el).closest('.message-light');
                if(!user.find('.comment-avatar').hasClass('new-message-border')) {
                    user.find('.comment-avatar').addClass('new-message-border');
                    user.find('.last-message').css('color', '#00bb00');
                    user.find('.company-light-main').prepend('<span class="new_message"></span>');
                }
            }
        });
    }

    function setRead(id) {
        $.post('/rest/chat/set-read', { recipientId : id });
    }

    function removeNewMessage(id) {
        $('.id_user').each(function(index, el) {
            if ($(el).text() == id) {
                let user = $(el).closest('.message-light');
                if(user.find('.comment-avatar').hasClass('new-message-border')) {
                    user.find('.comment-avatar').removeClass('new-message-border');
                    user.find('.last-message').css('color', '');
                    user.find('.company-light-main').find('.new_message').remove();
                    setRead(id);
                }
            }
        });
    }

    const onMessageReceived = (response) => {
        let data = JSON.parse(response.body)
        let userId = $('#activeId').text();
        let sender = data.senderId.id;
        if (userId == sender) {
            let str = templateAnswer;
            str = str.replace("$content", data.content);
            str = str.replace("$name", data.senderId.name);
            str = str.replace("$date", formatDate(new Date(data.date)));
            $('#block-messages').append(str);
            block.scrollTop = block.scrollHeight;
            setRead(userId);
        } else {
            addNewMessage(sender);
        }
        addDescription(sender, data.content);
    }

    function addMessageInChat(message) {
        let str = templateQuestion;
        str = str.replace("$content", message.content);
        str = str.replace("$date", formatDate(new Date()));
        $('#block-messages').append(str);
        block.scrollTop = block.scrollHeight;
    }

    const onConnected = () => {
        console.log("connected");

        stompClient.subscribe(chatId, onMessageReceived);
    };

    const onError = () => {
        console.log("onError");
    };

    let socket = new SockJS('/ws');
    // stompClient.debug = () => {};
    stompClient = Stomp.over(socket);
    stompClient.connect({}, onConnected, onError);

    function getHistory(id) {
        $.post('/rest/chat/history', { recipientId : id }, function (data) {
            $('#block-messages').empty();
            for (let item in data) {
                let str;
                let message = data[item];
                let activeUser = $('#chatId').text();
                let getDate = message.date[0] + "-" + message.date[1] + "-" + message.date[2] + " " + message.date[3]
                    + ":" + message.date[4]+ ":" + ((message.date[5] === 'undefined')?message.date[5]:'0');
                if (message.senderId.id == activeUser) {
                    str = templateQuestion;
                    str = str.replace("$content", message.content);
                    str = str.replace("$date", formatDate(new Date(getDate)));
                } else {
                    str = templateAnswer;
                    str = str.replace("$name", message.senderId.name);
                    str = str.replace("$content", message.content);
                    str = str.replace("$date", formatDate(new Date(getDate)));
                }
                $('#block-messages').append(str);
            }
            block.scrollTop = block.scrollHeight;
        })
    }

    $('.click-user').click(function () {
        let id = $('#activeId');
        id.text('');
        id.text($(this).find('.id_user').text());
        getHistory(id.text());
        removeNewMessage(id.text());
    });

    function initialActiveUser() {
        let id = $('#activeId').text();
        if (id > 0) {
            getHistory(id);
            removeNewMessage(id);
        }
    }

    initialActiveUser();

    $('#sendBtn').click(function () {
        const message = {
            content: $('#content-text').val(),
            recipientId: {
                id: $('#activeId').text()
            }
        };
        if (message && stompClient && $('#activeId').text() > 0) {
            if ($('#content-text').val().trim() !== '') {
                stompClient.send('/app/messages', {}, JSON.stringify(message));
                $('#content-text').val('');
                addMessageInChat(message);
                addDescription(message.recipientId.id, message.content);
            } else {
                failNoty('Сообщение пустое!');
            }
        } else {
            failNoty('Нужно выбрать собеседника!');
        }
    });
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(86525040, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
    });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/86525040" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>