<!DOCTYPE html>
<html class="wide desktop landscape rd-navbar-static-linked" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить новую запись</title>
    <div th:replace="~{fragments/links :: links1}"></div>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400%7CUbuntu:300,400,500,600,700">
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
<div th:replace="~{fragments/title :: title('Добавить новую запись')}"></div>

<section class="section section-md">
    <div class="container">
        <div class="row row-50">
            <div class="col-lg-2-5">
                <div class="row row-30">
                    <div class="col-md-6 col-lg-12">
                        <p class="heading-8">Выберите раздел</p>
                        <div id="bock-menu">Ваши посты</div>
                        <ul class="list-marked-1 set-default-color">
                            <li class="active-post"><a>Активные посты</a></li>
                            <li><a>Закрытые посты</a></li>
                            <li><a>Архивные посты</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                Список активных постов
                <div class="row row-50">
                    <div class="col-12">
                        <p class="heading-9">Поиск партнеров по бизнесу</p>
                        <hr class="m-10">
                        <div class="timeline-classic">
                            <th:block th:each="post : ${posts}">
                                <th:block th:if="${post.active}">
                                    <div class="timeline-classic-item">
                                        <div class="timeline-classic-period">
                                            <span th:text="${#temporals.format(post.date, 'dd-MM-yyyy')}"></span>
                                        </div>
                                        <div class="timeline-classic-main">
                                            <h5 class="timeline-classic-title"><a th:href="@{'/post/' + ${post.id}}" th:text="${post.title}"></a></h5>
                                            <p th:text="${post.text}"></p>
                                            <p></p>
                                            <ul class="list-post-menu">
                                                <li><a><span class="icon-sms icon-m-post-menu mdi mdi-file-document-edit-outline"></span>
                                                    Редактировать</a></li>
                                                <li><a><span class="icon-sms icon-m-post-menu mdi mdi-message-text-lock-outline"></span>
                                                    Закрыть</a></li>
                                                <li><a><span class="icon-sms icon-m-post-menu mdi mdi-delete-outline"></span>
                                                    Удалить</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </th:block>
                            </th:block>
                        </div>
                    </div>
                    <div class="col-12">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>