<!DOCTYPE html>
<html class="wide desktop landscape rd-navbar-static-linked" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Blog post</title>
    <div th:replace="~{fragments/links :: links1}"></div>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400%7CUbuntu:300,400,500,600,700">
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
<div th:replace="~{fragments/title :: title(${post.title})}"></div>
<section class="section section-md">
    <div class="container">
        <div class="blog-layout">
            <div class="blog-layout-main">
                <article class="post-creative">
                    <div class="post-creative-meta">
                        <div class="post-creative-meta-inner">
                            <div class="post-creative-author">
                                <div class="avatar" th:style="'background-color:'+${post.user.color}">
                                    <span th:text="${post.user.initial}"></span></div>
                                <p>
                                    от&nbsp;<a href="#">[[${post.user.name}]]</a></p>
                            </div>
                            <div>
                                <ul class="post-creative-meta-list">
                                    <li> <span class="icon mdi mdi-clock"> </span>
                                        <time th:text="${#temporals.format(post.date, 'dd MMM yyyy')}"></time>
                                    </li>
                                    <li><span class="icon fl-justicons-visible6"></span>
                                        <span th:text="${post.show}"> </span></li>
                                    <li><span class="icon mdi mdi-message-outline"></span>
                                        <span th:text="${post.comments}"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h5 th:text="${post.title}"></h5>
                    <div id="reset-style" th:utext="${post.text}"></div>
                    <div class="post-creative-footer">
                        <div class="post-creative-footer-inner">
                            <p>Поделиться</p>
                            <div>
                                <ul class="list-inline list-inline-xs">
                                    <li><a class="icon icon-xxs icon-filled icon-filled-brand icon-circle fa fa-facebook" href="#"></a></li>
                                    <li><a class="icon icon-xxs icon-filled icon-filled-brand icon-circle fa fa-google-plus" href="#"></a></li>
                                    <li><a class="icon icon-xxs icon-filled icon-filled-brand icon-circle fa fa-twitter" href="#"></a></li>
                                    <li><a class="icon icon-xxs icon-filled icon-filled-brand icon-circle fa fa-pinterest-p" href="#"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
                <div class="section-sm section-bottom-0">
                    <p class="blog-layout-title text-center" th:text="${'Комментарии ' + post.comments}"></p>
                    <!-- Comment-->
                    <div sec:authorize="isAnonymous()">
                        <div id="comment-enter">
                            <p id="comment-text-register">Оставлять комментарии могут только зарегистрированные пользователи.</p>
                            <p id="comment-button">
                                <a href="/login" class="button-smm button-primary button-circle">Войти</a>
                                <a href="/register" class="button-smm button-primary button-circle">Зарегистрироваться</a></p>
                        </div>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <div class="comment-group">
                            <article class="comment comment-box">
                                <div class="comment-aside">
                                    <div class="comment-avatar" style="background-color:#1087eb">
                                        <span sec:authentication="principal.initial"></span>
                                    </div>
                                </div>
                                <div class="comment-header">
                                    <p class="comment-title" sec:authentication="principal.name"></p>
                                </div>
                                <div class="comment-main">
                                    <form class="rd-mailform rd-mailform-outline" id="addPostComment" novalidate="novalidate">
                                        <input type="hidden" name="post" th:value="${post.id}">
                                        <div class="form-wrap">
                                            <textarea class="form-input" id="comment-message" name="message" placeholder="Написать комментарий"></textarea>
                                        </div>
                                        <div class="from-wrap">
                                            <button type="button" id="btn-addCommit" class="button button-primary">Отправить</button>
                                        </div>
                                    </form>
                                </div>
                            </article>
                        </div>
                    </div>

                        <div th:each="comment : ${post.commentList}" class="comment-group block-comments">
                            <!-- Comment-->
                            <article class="comment">
                                <input class="number-parent" type="hidden" th:value="${comment.id}">
                                <input class="number-children" type="hidden" th:value="0">
                                <div class="comment-aside">
                                    <div class="comment-avatar" th:style="'background-color:'+${comment.user.color}">
                                        <span th:text="${comment.user.initial}"></span>
                                    </div>
                                </div>
                                <div class="comment-header">
                                    <div class="comment-header-inner">
                                        <p class="comment-title" th:text="${comment.user.name}"></p>
                                        <span class="comment-time" th:text="${#temporals.format(comment.date, 'dd MMM yyyy, HH:mm')}"></span>
                                    </div>
                                </div>
                                <div class="comment-main">
                                    <div class="comment-text">
                                        <p th:text="${comment.text}"></p>
                                    </div>
                                    <div class="comment-footer">
                                        <ul class="comment-list">
                                            <li> <a class="comment-link" href="#"><span class="icon mdi mdi-thumb-up-outline"></span><span>0</span></a></li>
                                            <th:block sec:authorize="isAuthenticated()">
                                                <li>
                                                    <a class="comment-link popup-open" href="#"><span class="icon mdi mdi-comment-outline"></span>
                                                        <span>Ответить</span></a>
                                                </li>
                                            </th:block>
                                        </ul>
                                    </div>
                                </div>
                            </article>
                            <div th:each="internal : ${comment.internalComments}" class="comment-group block-comments-inner">
                                <!-- Comment-->
                                <article class="comment">
                                    <input class="number-parent" type="hidden" th:value="${comment.id}">
                                    <input class="number-children" type="hidden" th:value="${internal.id}">
                                    <div class="comment-aside">
                                        <div class="comment-avatar" th:style="'background-color:'+${internal.user.color}">
                                            <span th:text="${internal.user.initial}"></span>
                                        </div>
                                    </div>
                                    <div class="comment-header">
                                        <div class="comment-header-inner">
                                            <p class="comment-title" th:text="${internal.user.name}"></p>
                                            <span class="comment-time" th:text="${#temporals.format(internal.date, 'dd MMM yyyy, HH:mm')}"></span>
                                        </div>
                                    </div>
                                    <div class="comment-main">
                                        <div class="comment-text" th:utext="${internal.text}"></div>
                                        <div class="comment-footer">
                                            <ul class="comment-list">
                                                <li> <a class="comment-link" href="#"><span class="icon mdi mdi-thumb-up-outline"></span><span>0</span></a></li>
                                                <th:block sec:authorize="isAuthenticated()">
                                                    <li>
                                                        <a class="comment-link popup-open" href="#"><span class="icon mdi mdi-comment-outline"></span>
                                                        <span>Ответить</span></a>
                                                    </li>
                                                </th:block>
                                            </ul>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                </div>
            </div>
            <div class="blog-layout-aside">
                <div class="blog-layout-aside-item">
                    <p class="blog-layout-title">Последние посты</p>
                    <div class="post-light-group">
                        <!-- Post Light--><a class="post-light" href="blog-post.html">
                        <div class="post-light-main">
                            <p class="post-light-title">web программист - ищу партнера / проекты</p>
                            <time class="post-light-time" datetime="2019">23 Окт. 2020, 12:18</time>
                        </div></a>
                        <!-- Post Light--><a class="post-light" href="blog-post.html">
                        <div class="post-light-main">
                            <p class="post-light-title">Ищу надежного партнера в интересный проект. Готов инвестировать.</p>
                            <time class="post-light-time" datetime="2019">19 Окт. 2020, 19:46</time>
                        </div></a>
                        <!-- Post Light--><a class="post-light" href="blog-post.html">
                        <div class="post-light-main">
                            <p class="post-light-title">Участок под постройку ТЦ</p>
                            <time class="post-light-time" datetime="2019">25 Окт. 2020, 12:16</time>
                        </div></a>
                    </div>
                </div>
                <div class="blog-layout-aside-item">
                    <p class="blog-layout-title">Минуточку внимания</p>
                    <div class="post-light-group">
                        <img src="/images/reklama.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="popup-fade">
    <div class="popup">
        <a class="popup-close" href="#"><span class="icon mdi mdi-close"></span></a>
        <div class="comment-header">
            <th:block sec:authorize="isAuthenticated()">
                <p class="comment-title" sec:authentication="principal.name"></p>
            </th:block>
        </div>
        <div class="comment-main-modal">
            <form class="rd-mailform rd-mailform-outline" id="addPostCommentChildren">
                <input type="hidden" id="parent" name="parent">
                <input type="hidden" id="children" name="children">
                <div class="form-wrap">
                    <textarea class="form-input" id="message" name="message" placeholder="Написать комментарий"></textarea>
                </div>
                <div class="from-wrap-modal">
                    <button type="button" class="button button-primary" id="btnAddPostCommentChildren">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script src="/js/script-post.js"></script>
</body>
</html>