<!DOCTYPE html>
<html class="wide desktop landscape rd-navbar-static-linked" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Поиск партнеров по бизнесу ' + ${local}"></title>
    <meta name="description" th:content="'Поиск партнера или партнеров по бизнесу ' + ${local} + ', начать совместный бизнес, собрать команду для бизнеса'">
    <meta name="keywords" th:content="'найти партнеров для бизнеса ' + ${local} + ' начать совместный бизнес'">
    <div th:replace="~{fragments/links :: links1}"></div>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400%7CUbuntu:300,400,500,600,700">
</head>
<body>
    <div th:replace="~{fragments/menu :: menu('business')}"></div>
    <div th:replace="~{fragments/title :: title('Поиск партнеров по бизнесу ' + ${local})}"></div>
    <section class="section section-md">
        <div class="container">
            <form class="form-creative-outer">
                <div class="form-layout-search form-lg">
                    <div class="form-wrap form-wrap-icon form-wrap-select">
                        <!-- Select 2-->
                        <select id="country-name" th:name="country" class="form-input select form-control-has-validation form-control-last-child select2-hidden-accessible">
                            <option th:each="country : ${countries}"
                                    th:value="${country.nameEn}"
                                    th:text="${country.name}"
                                    th:selected="${countryName == country.nameEn}">
                            </option>
                        </select>
                        <span class="form-validation"></span><span class="icon fl-bigmug-line-big104"></span>
                    </div>
                    <div class="form-wrap form-wrap-icon form-wrap-select">
                        <!-- Select 2-->
                        <select id="city" th:name="city" class="form-input select form-control-has-validation form-control-last-child select2-hidden-accessible">
                            <option th:each="city : ${cities}"
                                    th:value="${city.nameEn}"
                                    th:text="${city.name}"
                                    th:selected="${cityName == city.nameEn}">
                            </option>
                        </select>
                        <span class="form-validation"></span><span class="icon fl-bigmug-line-big104"></span>
                    </div>
                    <div class="form-wrap form-wrap-button">
                        <button id="btn-search" class="button button-lg button-primary" type="button">Поиск</button>
                    </div>
                </div>
            </form>
            <div class="table-job-offers-outer">
                <table class="table-job-offers table-responsive">
                    <tbody>
                    <tr th:each="post : ${posts}">
                        <td class="table-job-offers-date hours-hidden"><span th:text="${post.duration}+' назад'"></span></td>
                        <td class="table-job-offers-main">
                            <!-- Company Light-->
                            <article class="company-light">
                                <figure class="company-light-figure">
                                    <div class="comment-avatar" th:style="'background-color:'+${post.user.color}">
                                        <span th:text="${post.user.initial}"></span></div>
                                    <span class="get-time" th:text="${post.durationShort}"></span>
                                </figure>
                                <div class="company-light-main">
                                    <h5 class="company-light-title">
                                        <a th:href="@{'/post/' + ${post.id}}">[[${post.title}]]</a>
                                    </h5>
                                    <p th:text="${post.user.name}+' » '+${#temporals.format(post.date, 'dd MMM yyyy, HH:mm')}"></p>
                                    <p class="view-text"><span th:text="${post.show}+' просмотров'"></span>&nbsp;&nbsp;&nbsp;[[${post.comments}]] ответов</p>
                                </div>
                            </article>
                        </td>
                        <td class="table-job-offers-meta td-hidden">
                            <div class="object-inline"><span class="icon color-blue icon-sm mdi mdi-eye"></span>
                                <span th:text="${post.show}"></span></div>
                        </td>
                        <td class="table-job-offers-meta td-hidden">
                            <div class="object-inline"><span class="icon color-blue icon-1 mdi mdi-comment-outline"></span>
                                <span th:text="${post.comments}"></span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- Bootstrap Pagination-->
            <!-- <nav class="pagination-outer text-center" aria-label="Page navigation">
                <div class="pagination">
                    <div class="page-item page-item-control"><a class="page-link" href="#" aria-label="Previous">Prev</a></div>
                    <div class="page-item"><a class="page-link" href="#">1</a></div>
                    <div class="page-item"><a class="page-link" href="#">2</a></div>
                    <div class="page-item active"><span class="page-link">3</span></div>
                    <div class="page-item"><a class="page-link" href="#">4</a></div>
                    <div class="page-item page-item-control"><a class="page-link" href="#" aria-label="Next">Next</a></div>
                </div>
            </nav> -->
        </div>
    </section>
    <div th:replace="~{fragments/footer :: footer}"></div>
<script>

    $( document ).ready(function() {

        function getCitiesFromName(name) {
            const city = $('#city');
            city.empty();
            city.append('<option value="any">Город</option>');

            if (name !== 'any') {
                $.post('/rest/country/get-cities-names', {name: name}, function(data) {
                    data.forEach((item) => {
                        city.append('<option value="' + item.nameEn + '">' + item.name + '</option>');
                    })
                });
            }
        }

        $('#country-name').on('change', function () {
            const name = $('#country-name').val();
            getCitiesFromName(name);
        });

        $('#btn-search').click(function () {
            let country = $('#country-name').val();
            let city = $('#city').val();
            window.location.href = "http://localhost:8080/posts/" + country + "/" + city;
        })

    });

</script>
</body>
</html>