<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
    <!-- Page Footer-->
    <footer class="section footer-creative context-dark">
        <div class="footer-creative-main">
            <div class="container">
                <div id="footer-block_row">
                    <div class="footer-block_items footer-block_item1">
                        <p class="footer-creative-title hidden">Найти партнера<span class="mdi mdi-chevron-right footer-mdi"></span></p>
                        <div class="footer-creative-divider"></div>
                        <div class="row row-narrow row-15 item-hidden">
                            <div class="foot-col-6">
                                <ul class="list-marked-1">
                                    <li><a href="/posts/Russia/any">Россия</a></li>
                                    <li><a href="/posts/Ukraine/any">Украина</a></li>
                                    <li><a href="/posts/Belarus/any">Белоруссия</a></li>
                                </ul>
                            </div>
                            <div class="foot-col-6">
                                <ul class="list-marked-1">
                                    <li><a href="/posts/Kazakhstan/any">Казахстан</a></li>
                                    <li><a href="/posts/any/any">Все страны</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer-block_items footer-block_item2">
                        <p class="footer-creative-title hidden">Последние новости<span class="mdi mdi-chevron-right footer-mdi"></span></p>
                        <div class="footer-creative-divider"></div>
                        <!--                        <div class="post-line-group item-hidden">-->
                        <!--                            <a class="post-line" href="blog-post.html">-->
                        <!--                            <time class="post-line-time" datetime="2019"><span class="post-line-time-day">25</span><span class="post-line-time-month">december</span></time>-->
                        <!--                            <p class="post-line-text">Добавлен новый раздел (Поиск инвестора)</p></a>-->
                        <!--                            <a class="post-line" href="blog-post.html">-->
                        <!--                            <time class="post-line-time" datetime="2019"><span class="post-line-time-day">10</span><span class="post-line-time-month">november</span></time>-->
                        <!--                            <p class="post-line-text">Как продать свой бизнес правильно?</p></a>-->
                        <!--                        </div>-->
                    </div>
                    <div class="footer-block_items footer-block_item3">
                        <p class="footer-creative-title hidden">Найти партнера<span class="mdi mdi-chevron-right footer-mdi"></span></p>
                        <div class="footer-creative-divider"></div>
                        <div class="row row-narrow row-15 item-hidden">
                            <div class="foot-col-6">
                                <ul class="list-marked-1">
                                    <li><a href="/posts/Russia/any">Россия</a></li>
                                    <li><a href="/posts/Ukraine/any">Украина</a></li>
                                    <li><a href="/posts/Belarus/any">Белоруссия</a></li>
                                </ul>
                            </div>
                            <div class="foot-col-6">
                                <ul class="list-marked-1">
                                    <li><a href="/posts/Kazakhstan/any">Казахстан</a></li>
                                    <li><a href="/posts/any/any">Все страны</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--                        <p class="footer-creative-title hidden">Найти инвестора<span class="mdi mdi-chevron-right footer-mdi"></span></p>-->
                        <!--                        <div class="footer-creative-divider"></div>-->
                        <!--                        <div class="row row-narrow row-15 item-hidden">-->
                        <!--                            <div class="foot-col-6">-->
                        <!--                                <ul class="list-marked-1">-->
                        <!--                                    <li><a href="#">Москва</a></li>-->
                        <!--                                    <li><a href="#">Новосибирск</a></li>-->
                        <!--                                    <li><a href="#">Другие города</a></li>-->
                        <!--                                </ul>-->
                        <!--                            </div>-->
                        <!--                            <div class="foot-col-6">-->
                        <!--                                <ul class="list-marked-1">-->
                        <!--                                    <li><a href="#">Найти</a></li>-->
                        <!--                                    <li><a href="#">Поиск</a></li>-->
                        <!--                                    <li><a href="#">Контакты</a></li>-->
                        <!--                                </ul>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-creative-aside">
            <div class="container">
                <p class="rights"><span>FindTeam&nbsp;©&nbsp;2021 Privacy Policy</span></p>
            </div>
        </div>
    </footer>
</div>
<div class="snackbars" id="form-output-global"></div>
<a href="#" id="ui-to-top" class="ui-to-top fl-bigmug-line-up107"></a>
    <script th:src="@{/resources/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/resources/js/core.min.js}"></script>
    <script th:src="@{/resources/js/noty.min.js}"></script>
    <script th:src="@{/resources/js/script.js}"></script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(86525040, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/86525040" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</th:block>