<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="menu(selest)" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="page animated">
        <!-- Page Header-->
        <header class="section page-header">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap" style="height: 110px;">
                <nav class="rd-navbar rd-navbar-classic rd-navbar-original rd-navbar-static" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="rd-navbar-main-outer">
                        <div class="rd-navbar-main">
                            <!-- RD Navbar Panel-->
                            <div class="rd-navbar-panel">
                                <!-- RD Navbar Toggle-->
                                <button class="rd-navbar-toggle toggle-original" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                <!-- RD Navbar Brand-->
                                <div class="rd-navbar-brand">
                                    <!--Brand--><a class="brand" href="/">
                                    <img class="brand-logo-dark" src="/images/logo-default-286x52.png" alt="" width="143" height="26">
                                    <img class="brand-logo-light" src="/images/logo-inverse-286x52.png" alt="" width="143" height="26"></a>
                                </div>
                            </div>
                            <div class="rd-navbar-main-element">
                                <div class="rd-navbar-nav-wrap toggle-original-elements">
                                    <ul class="rd-navbar-nav">
                                        <li class="rd-nav-item rd-navbar--has-dropdown">
                                            <a class="rd-nav-link" href="/">Главная</a>
                                        </li>
                                        <li class="rd-nav-item rd-navbar--has-megamenu rd-navbar-submenu" th:classappend="${selest=='business'} ? active : ''">
                                            <a class="rd-nav-link full-click" href="#">Бизнес</a>
                                            <ul class="rd-menu rd-navbar-megamenu rd-navbar-open-right">
                                                <li class="rd-megamenu-item">
                                                    <h6 class="rd-megamenu-title"><a href="/post">Поиск партнеров</a></h6>
                                                    <ul class="rd-megamenu-list">
                                                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/posts/Russia/Moscow">Москва</a></li>
                                                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/posts/Russia/StPetersburg">Санкт-Петербург</a></li>
                                                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/posts/Russia/Novosibirsk">Новосибирск</a></li>
                                                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/posts">Другие города</a></li>
                                                    </ul>
                                                </li>
                                                <li class="rd-megamenu-item">
                                                    <h6 class="rd-megamenu-title"><a href="pages-2.html">Поиск инвестора</a></h6>
                                                    <ul class="rd-megamenu-list">
                                                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="about-us.html">Москва</a></li>
                                                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="contact-us.html">Санкт-Петербург</a></li>
                                                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="faq.html">Новосибирск</a></li>
                                                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="pricing-tables.html">Другие города</a></li>
                                                    </ul>
                                                </li>
                                                <li class="rd-megamenu-item">
                                                    <h6 class="rd-megamenu-title"><a href="elements.html">Продажа бизнеса</a></h6>
                                                    <ul class="rd-megamenu-list">
                                                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="about-us.html">Москва</a></li>
                                                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="contact-us.html">Санкт-Петербург</a></li>
                                                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="faq.html">Новосибирск</a></li>
                                                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="pricing-tables.html">Другие города</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="rd-nav-item rd-navbar--has-dropdown rd-navbar-submenu" th:classappend="${selest=='manage'} ? active : ''">
                                            <a class="rd-nav-link full-click" href="#">Объявления</a>
                                            <ul class="rd-menu rd-navbar-dropdown">
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/manage/post/add">Добавить</a></li>
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/manage/post/list">Управление</a></li>
                                            </ul>
                                        </li>
                                        <li class="rd-nav-item rd-navbar--has-dropdown" th:classappend="${selest=='faq'} ? active : ''">
                                            <a class="rd-nav-link" href="#">FAQ</a>
                                        </li>
                                        <li class="rd-nav-item rd-navbar--has-dropdown" th:classappend="${selest=='contact'} ? active : ''">
                                            <a class="rd-nav-link" href="/contact">Контакты</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div sec:authorize="isAnonymous()">
                                <div class="rd-navbar-aside">
                                    <div class="rd-navbar-aside-item">
                                        <button class="button button-xs button-primary-outline button-icon button-icon-left rd-navbar-popup-toggle toggle-original" data-rd-navbar-toggle="#rd-navbar-register">
                                            <span class="icon mdi mdi-account"></span>Создать</button>
                                        <div class="rd-navbar-popup bg-gray-100 toggle-original-elements" id="rd-navbar-register">
                                            <h5 class="rd-navbar-popup-title">Регистрация</h5>
                                            <form class="rd-form rd-mailform form-compact" id="formRegisterPage">
                                                <div class="form-wrap">
                                                    <input class="form-input" type="text" name="name" placeholder="Логин" required>
                                                </div>
                                                <div class="form-wrap">
                                                    <input class="form-input" type="email" name="email" placeholder="Email" required>
                                                </div>
                                                <div class="form-wrap">
                                                    <input class="form-input" type="password" name="userPassword" placeholder="Пароль" required>
                                                </div>
                                                <div class="form-wrap">
                                                    <input class="form-input" type="password" name="confirmPassword" placeholder="Подтвердите пароль" required>
                                                    <input type="hidden" name="gender" value="U">
                                                </div>
                                                <div class="form-wrap">
                                                    <button class="button button-block button-primary" id="btnCreateUserRegister" type="button">Создать</button>
                                                </div>
                                                <div class="form-wrap form-wrap-ally">
                                                    <div class="text-decoration-lines rd-navbar-popup-title">
                                                        <span class="text-decoration-lines-content">Или войдите с помощью других сервисов</span>
                                                    </div>
                                                </div>
                                                <div class="form-wrap form-wrap-ally">
                                                    <div class="button-group">
                                                        <a class="button button-facebook button-icon button-icon-only button-winona" href="#" aria-label="Facebook">
                                                            <span class="icon mdi mdi mdi-facebook"></span></a>
                                                        <a class="button button-twitter button-icon button-icon-only button-winona" href="#" aria-label="Twitter">
                                                            <span class="icon mdi mdi-twitter"></span></a>
                                                        <a class="button button-google button-icon button-icon-only button-winona" href="#" aria-label="Google+">
                                                        <span class="icon mdi mdi-google"></span>
                                                    </a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="rd-navbar-aside-item">
                                        <button class="button button-xs button-primary button-icon button-icon-left rd-navbar-popup-toggle toggle-original" data-rd-navbar-toggle="#rd-navbar-login">
                                            <span class="icon mdi mdi-import"></span>Войти</button>
                                        <div class="rd-navbar-popup bg-gray-100 toggle-original-elements" id="rd-navbar-login">
                                            <h5 class="rd-navbar-popup-title">Личный кабинет</h5>
                                            <form class="rd-form form-compact" action="/check_login" method="post">
                                                <div class="form-wrap">
                                                    <input class="form-input" type="email" name="username" placeholder="E-mail" required>
                                                </div>
                                                <div class="form-wrap">
                                                    <input class="form-input" type="password" name="password" placeholder="Пароль" required>
                                                </div>
                                                <div class="form-wrap">
                                                    <button class="button button-block button-primary" type="submit">Войти</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div sec:authorize="isAuthenticated()">
                                <div class="rd-navbar-aside">
                                    <div class="rd-navbar-aside-item">
                                        <div class="mobile-profile">
                                            <button class="button button-xs button-primary-outline button-icon button-icon-left rd-navbar-popup-toggle toggle-original" data-rd-navbar-toggle="#rd-navbar-profile-mobile">
                                                <span class="icon mdi mdi-account"></span>
                                            </button>
                                            <div class="bg-color-white toggle-original-elements" id="rd-navbar-profile-mobile">
                                                <ul class="user-menu">
                                                    <li class="title-menu menu-margin" sec:authentication="principal.username"></li>
                                                    <li class="menu-item-user menu-margin"><a href="#">Сообщения</a></li>
                                                    <li class="menu-item-user menu-margin"><a href="#">Профиль</a></li>
                                                    <li class="sep-menu"></li>
                                                    <li class="menu-item-user menu-margin"><a th:href="@{/logout}">Выход</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rd-navbar-aside-item">
                                        <div class="mobile-profile">
                                            <button class="button button-xs button-primary button-icon button-icon-left rd-navbar-popup-toggle toggle-original">
                                                <span id="email-mobile" class="icon mdi mdi-email"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="rd-navbar-aside-item">
                                        <ul id="ul-login-block">
                                            <li class="line-sep"></li>
                                            <li id="email-comp" class="icon icon-lgs text-primary mdi clb mdi-email"></li>
                                            <li class="line-sep"></li>
                                            <li>
                                                <figure>
                                                    <div class="comment-avatar-min" style="background-color:#1087eb">
                                                        <span sec:authentication="principal.initial"></span></div>
                                                </figure>
                                            </li>
                                            <li>
                                                <span id="login-name" sec:authentication="principal.name" onselectstart="return false" onmousedown="return false" data-rd-navbar-toggle="#rd-navbar-profile">
                                                </span>
                                                <span class="icon icon-sms mdi mdi-menu-down"></span>
                                                <div class="bg-color-white toggle-original-elements" id="rd-navbar-profile">
                                                    <ul class="user-menu">
                                                        <li class="title-menu menu-margin" sec:authentication="principal.username"></li>
                                                        <li class="menu-item-user menu-margin"><a href="#">Сообщения</a></li>
                                                        <li class="menu-item-user menu-margin"><a href="#">Профиль</a></li>
                                                        <li class="sep-menu"></li>
                                                        <li class="menu-item-user menu-margin"><a th:href="@{/logout}">Выход</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
</th:block>