<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="menu(selest)" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="page animated">
        <!-- Page Header-->
        <header class="section page-header">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap" style="height: 110px;">
                <nav class="rd-navbar rd-navbar-classic rd-navbar-original rd-navbar-static" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="rd-navbar-main-outer">
                        <div class="rd-navbar-main">
                            <!-- RD Navbar Panel-->
                            <div class="rd-navbar-panel">
                                <!-- RD Navbar Toggle-->
                                <button class="rd-navbar-toggle toggle-original" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                <!-- RD Navbar Brand-->
                                <div class="rd-navbar-brand">
                                    <!--Brand--><a class="brand" href="/">
                                    <img class="brand-logo-dark" th:src="@{/resources/images/logo.png}" alt="" width="143" height="26">
                                    <img class="brand-logo-light" th:src="@{/resources/images/logo.png}" alt="" width="143" height="26"></a>
                                </div>
                            </div>
                            <div class="rd-navbar-main-element">
                                <div class="rd-navbar-nav-wrap toggle-original-elements">
                                    <ul class="rd-navbar-nav">
                                        <li class="rd-nav-item rd-navbar--has-dropdown">
                                            <a class="rd-nav-link" href="/">Главная</a>
                                        </li>
                                        <li class="rd-nav-item rd-navbar--has-dropdown rd-navbar-submenu" th:classappend="${selest=='business'} ? active : ''">
                                            <a class="rd-nav-link full-click" href="/post">Бизнес</a>
                                            <ul class="rd-menu rd-navbar-dropdown">
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/posts/Russia/any">Россия</a></li>
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/posts/Ukraine/any">Украина</a></li>
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/posts/Belarus/any">Белоруссия</a></li>
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/posts/Kazakhstan/any">Казахстан</a></li>
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/posts">Все страны</a></li>
                                            </ul>
                                        </li>
                                        <li class="rd-nav-item rd-navbar--has-dropdown rd-navbar-submenu" th:classappend="${selest=='manage'} ? active : ''">
                                            <a class="rd-nav-link full-click" href="/manage">Объявления</a>
                                            <ul class="rd-menu rd-navbar-dropdown">
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/manage/post/add">Добавить</a></li>
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/manage/post/list">Управление</a></li>
                                            </ul>
                                        </li>
                                        <li class="rd-nav-item rd-navbar--has-dropdown" th:classappend="${selest=='faq'} ? active : ''">
                                            <a class="rd-nav-link" href="/faq">FAQ</a>
                                        </li>
                                        <li class="rd-nav-item rd-navbar--has-dropdown" th:classappend="${selest=='contact'} ? active : ''">
                                            <a class="rd-nav-link" href="/contact">Контакты</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div sec:authorize="isAnonymous()">
                                <div class="rd-navbar-aside">
                                    <div class="rd-navbar-aside-item">
                                        <button class="button button-xs button-primary-outline button-icon button-icon-left rd-navbar-popup-toggle toggle-original" data-rd-navbar-toggle="#rd-navbar-register">
                                            <span class="icon mdi mdi-account"></span>Создать</button>
                                        <div class="rd-navbar-popup bg-gray-100 toggle-original-elements" id="rd-navbar-register">
                                            <h5 class="rd-navbar-popup-title">Регистрация</h5>
                                            <form class="rd-form rd-mailform form-compact" id="formRegisterPage">
                                                <div class="form-wrap">
                                                    <input class="form-input unique-login-pages" type="text" name="name" placeholder="Логин" required>
                                                    <span class="form-validation validation-name"></span>
                                                </div>
                                                <div class="form-wrap">
                                                    <input class="form-input" type="email" name="email" placeholder="Email" required>
                                                </div>
                                                <div class="form-wrap">
                                                    <input class="form-input" type="password" name="userPassword" placeholder="Пароль" required>
                                                </div>
                                                <div class="form-wrap">
                                                    <input class="form-input" type="password" name="confirmPassword" placeholder="Подтвердите пароль" required>
                                                    <input type="hidden" name="gender" value="U">
                                                </div>
                                                <div class="form-wrap">
                                                    <button class="button button-block button-primary" id="btnCreateUserRegister" type="button">Создать</button>
                                                </div>
                                                <div class="form-wrap form-wrap-ally">
                                                    <div class="text-decoration-lines rd-navbar-popup-title">
                                                        <span class="text-decoration-lines-content">Или войдите с помощью других сервисов</span></div>
                                                </div>
                                                <div class="form-wrap form-wrap-ally">
                                                    <div class="button-group">
                                                        <a class="button button-google button-icon button-icon-only button-winona" href="/oauth2/provider/google" aria-label="Google+">
                                                            <span class="icon mdi mdi-google"></span></a>
                                                        <a class="button button-facebook button-icon button-icon-only button-winona" href="/oauth2/provider/facebook" aria-label="Facebook">
                                                            <span class="icon mdi mdi mdi-facebook"></span></a>
                                                        <a class="button button-vk button-icon button-icon-only button-winona" href="/oauth2/provider/vk" aria-label="VK">
                                                            <span class="icon mdi mdi-vk"></span></a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="rd-navbar-aside-item">
                                        <button class="button button-xs button-primary button-icon button-icon-left rd-navbar-popup-toggle toggle-original" data-rd-navbar-toggle="#rd-navbar-login">
                                            <span class="icon mdi mdi-import"></span>Войти</button>
                                        <div class="rd-navbar-popup bg-gray-100 toggle-original-elements" id="rd-navbar-login">
                                            <h5 class="rd-navbar-popup-title">Личный кабинет</h5>
                                            <form class="rd-form form-compact" action="/check_login" method="post">
                                                <div class="form-wrap">
                                                    <input class="form-input" type="email" name="username" placeholder="E-mail" required>
                                                </div>
                                                <div class="form-wrap">
                                                    <input class="form-input" type="password" name="password" placeholder="Пароль" required>
                                                </div>
                                                <div class="form-wrap">
                                                    <button class="button button-block button-primary" type="submit">Войти</button>
                                                </div>
                                                <div class="form-wrap form-wrap-ally">
                                                    <div class="text-decoration-lines rd-navbar-popup-title">
                                                        <span class="text-decoration-lines-content">Или войдите с помощью других сервисов</span></div>
                                                </div>
                                                <div class="form-wrap form-wrap-ally">
                                                    <div class="button-group">
                                                        <a class="button button-google button-icon button-icon-only button-winona" href="/oauth2/provider/google" aria-label="Google+">
                                                            <span class="icon mdi mdi-google"></span></a>
                                                        <a class="button button-facebook button-icon button-icon-only button-winona" href="/oauth2/provider/facebook" aria-label="Facebook">
                                                            <span class="icon mdi mdi mdi-facebook"></span></a>
                                                        <a class="button button-vk button-icon button-icon-only button-winona" href="/oauth2/provider/vk" aria-label="VK">
                                                            <span class="icon mdi mdi-vk"></span></a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div sec:authorize="isAuthenticated()">
                                <div class="rd-navbar-aside">
                                    <div class="rd-navbar-aside-item">
                                        <div class="mobile-profile">
                                            <button class="button button-xs button-primary-outline button-icon button-icon-left rd-navbar-popup-toggle toggle-original" data-rd-navbar-toggle="#rd-navbar-profile-mobile">
                                                <span class="icon mdi mdi-account"></span>
                                            </button>
                                            <div class="bg-color-white toggle-original-elements" id="rd-navbar-profile-mobile">
                                                <ul class="user-menu">
                                                    <li class="title-menu menu-margin" sec:authentication="principal.email"></li>
                                                    <li class="menu-item-user menu-margin"><a href="/chat">Сообщения</a></li>
                                                    <li class="menu-item-user menu-margin"><a href="/profile">Профиль</a></li>
                                                    <li class="sep-menu"></li>
                                                    <li class="menu-item-user menu-margin"><a th:href="@{/logout}">Выход</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rd-navbar-aside-item">
                                        <div class="mobile-profile">
                                            <button class="button button-xs button-primary button-icon button-icon-left rd-navbar-popup-toggle toggle-original">
                                                <span id="email-mobile" class="icon mdi mdi-email"
                                                      onclick="window.location.href='/chat'"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="rd-navbar-aside-item">
                                        <ul id="ul-login-block">
                                            <li class="line-sep"></li>
                                            <li id="email-comp" class="icon icon-lgs text-primary mdi clb mdi-email"
                                                onclick="window.location.href='/chat'"></li>
                                            <li class="line-sep"></li>
                                            <li>
                                                <figure>
                                                    <div class="comment-avatar-min" style="background-color:#1087eb">
                                                        <span sec:authentication="principal.initial"></span></div>
                                                </figure>
                                            </li>
                                            <li>
                                                <span id="login-name" sec:authentication="principal.name" onselectstart="return false" onmousedown="return false" data-rd-navbar-toggle="#rd-navbar-profile">
                                                </span>
                                                <span class="icon icon-sms mdi mdi-menu-down"></span>
                                                <div class="bg-color-white toggle-original-elements" id="rd-navbar-profile">
                                                    <ul class="user-menu">
                                                        <li class="title-menu menu-margin" sec:authentication="principal.email"></li>
                                                        <li class="menu-item-user menu-margin"><a href="/chat">Сообщения</a></li>
                                                        <li class="menu-item-user menu-margin"><a href="/profile">Профиль</a></li>
                                                        <li class="sep-menu"></li>
                                                        <li class="menu-item-user menu-margin"><a th:href="@{/logout}">Выход</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
</th:block>