<!DOCTYPE html>
<html class="wide desktop landscape rd-navbar-static-linked" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Смена пароля</title>
    <meta name="description" content="Смена пароля">
    <div th:replace="~{fragments/links :: links1}"></div>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400%7CUbuntu:300,400,500,600,700">
</head>
<body>
<div th:replace="~{fragments/menu :: menu('')}"></div>
<div th:replace="~{fragments/title :: title('Смена пароля')}"></div>

<section class="section section-md">
    <div class="container">
        <div class="block-1">
            <h4>Смена пароля</h4>
            <th:block th:if="${errors}">
                <div id="error-block"><p th:text="${errors}"></p></div>
            </th:block>
            <!-- RD Mailform-->
            <form class="rd-form rd-mailform form-centered form-filled" method="post" action="/reset-password">
                <input type="hidden" name="token" th:value="${token}">
                <div class="form-wrap has-error">
                    <input class="form-input form-control-has-validation required password" id="password" type="password"
                           name="password" placeholder="Новый пароль">
                    <span class="form-validation validation-name"></span>
                    <label class="form-label rd-input-label" for="password"></label>
                </div>
                <div class="form-wrap">
                    <input class="form-input form-control-has-validation required password" id="confirmPassword" type="password"
                           name="confirmPassword" placeholder="Подтвердите новый пароль">
                    <span class="form-validation validation-name"></span>
                    <label class="form-label rd-input-label" for="confirmPassword"></label>
                </div>
                <div class="row row-15 row-x-14">
                    <div class="col-sm-6">
                        <button class="button button-block button-primary" type="submit">Сменить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>