<!DOCTYPE html>
<html class="wide desktop landscape rd-navbar-static-linked" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Мой профиль</title>
    <meta name="description" content="Профиль пользователя">
    <div th:replace="~{fragments/links :: links1}"></div>
</head>
<body>
<div th:replace="~{fragments/menu :: menu('')}"></div>
<section class="section breadcrumbs-custom">
    <div class="breadcrumbs-custom-main bg-image bg-primary">
        <div class="container">
            <div class="layout-2">
                <div class="layout-2-item layout-2-item-main">
                    <!-- Profile Light-->
                    <article class="profile-light">
                        <img class="profile-light-image" src="/images/no_avatar.gif" alt="" width="100" height="100">
                        <div class="profile-light-main">
                            <h4 class="profile-light-name" th:text="${user.name}"></h4>
                            <h6 class="profile-light-position" th:text="${user.email}"></h6>
                            <div class="profile-light-divider"></div>
                            <ul class="profile-light-list">
                                <li>
                                    <span class="icon icon-sm mdi mdi-map-marker"></span>
                                    <span th:text="${user.city.id > 0} ? 'Город: ' + ${user.city.name} : 'Город:'"></span>
                                </li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumbs-custom-aside">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Главная</a></li>
                <li class="active">Мой профиль</li>
            </ul>
        </div>
    </div>
</section>

<section class="section section-md text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <h4>Редактировать учетную запись</h4>
                <!-- Bootstrap tabs -->
                <div class="tabs-custom tabs-horizontal tabs-minimal" id="tabs-1">
                    <!-- Nav tabs-->
                    <ul class="nav nav-tabs">
                        <li class="nav-item" role="presentation"><a class="nav-link active show" href="#tabs-1-1" data-toggle="tab">Мой профиль</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-2" data-toggle="tab">Смена пароля</a></li>
                    </ul>
                    <!-- Tab panes-->
                    <div class="tab-content" style="letter-spacing: .05em;">
                        <div class="tab-pane fade active show" id="tabs-1-1">
                            <form id="userProfile">
                            <div class="block-form">
                                <h5>Профиль</h5>
                                <hr>
                                <!-- RD Mailform-->
                                <div class="rd-form rd-mailform form-lg form-lg form-corporate">
                                    <div class="row row-40">
                                        <div class="col-md-6">
                                            <div class="form-wrap">
                                                <label class="form-label-outside">Никнейм</label>
                                                <div class="form-wrap-inner">
                                                    <input class="form-input only-read" th:value="${user.name}" type="text" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-wrap">
                                                <label class="form-label-outside">Email</label>
                                                <div class="form-wrap-inner">
                                                    <input class="form-input only-read" th:value="${user.email}" type="email" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-wrap">
                                                <label class="form-label-outside" for="realName">Меня зовут</label>
                                                <div class="form-wrap-inner">
                                                    <input class="form-input" id="realName" th:value="${user.realName}" name="realName">
                                                    <span class="form-validation" id="validation-realName"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-wrap">
                                                <label class="form-label-outside">Ваша занятость</label>
                                                <div class="form-wrap-inner">
                                                    <!-- Select 2-->
                                                    <select th:field="*{user.busyness}" th:name="busyness" class="form-input select form-control-has-validation form-control-last-child select2-hidden-accessible">
                                                        <option th:value="0">Выберите из списка</option>
                                                        <option th:value="1">Имею свой бизнес</option>
                                                        <option th:value="2">Наемный работник</option>
                                                        <option th:value="3">Без работы</option>
                                                        <option th:value="4">Другое</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-wrap">
                                                <label class="form-label-outside">Моя страна</label>
                                                <div class="form-wrap-inner">
                                                    <!-- Select 2-->
                                                    <select id="country" th:name="country" class="form-input select form-control-has-validation form-control-last-child select2-hidden-accessible">
                                                        <option th:each="country : ${countries}"
                                                                th:value="${country.id}"
                                                                th:text="${country.name}"
                                                                th:selected="${user.country.id == country.id}">
                                                        </option>
                                                    </select>
                                                    <span class="form-validation"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-wrap">
                                                <label class="form-label-outside">Мой город</label>
                                                <div class="form-wrap-inner">
                                                    <!-- Select 2-->
                                                    <select id="city" th:name="city" class="form-input select form-control-has-validation form-control-last-child select2-hidden-accessible">
                                                        <option th:each="city : ${cities}"
                                                                th:value="${city.id}"
                                                                th:text="${city.name}"
                                                                th:selected="${user.city.id == city.id}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-wrap">
                                                <label class="form-label-outside">Ваш пол</label>
                                                <div class="form-wrap-inner">
                                                    <!-- Select 2-->
                                                    <select th:field="*{user.gender}" th:name="gender" class="form-input select form-control-has-validation form-control-last-child select2-hidden-accessible">
                                                        <option th:value="'U'">Выберите пол</option>
                                                        <option th:value="'M'" th:text="Мужской"></option>
                                                        <option th:value="'F'" th:text="Женский"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sub">
                                            <div class="form-wrap">
                                                <label class="form-label-outside">Дата рождения</label>
                                                <div class="form-wrap-inner">
                                                    <!-- Select 2-->
                                                    <select th:field="*{user.day}" th:name="day" class="form-input select form-control-has-validation form-control-last-child select2-hidden-accessible">
                                                        <option th:value="0">день</option>
                                                        <option th:each="i : ${#numbers.sequence(1, 31)}" th:value="${i}" th:text="${i}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sub">
                                            <div class="form-wrap">
                                                <label class="form-label-outside col-md-none"></label>
                                                <div class="form-wrap-inner label-none">
                                                    <!-- Select 2-->
                                                    <select th:field="*{user.month}" th:name="month" class="form-input select form-control-has-validation form-control-last-child select2-hidden-accessible">
                                                        <option th:value="0">месяц</option>
                                                        <option th:value="1">января</option>
                                                        <option th:value="2">февраля</option>
                                                        <option th:value="3">марта</option>
                                                        <option th:value="4">апреля</option>
                                                        <option th:value="5">майя</option>
                                                        <option th:value="6">июня</option>
                                                        <option th:value="7">июля</option>
                                                        <option th:value="8">августа</option>
                                                        <option th:value="9">сентября</option>
                                                        <option th:value="10">октября</option>
                                                        <option th:value="11">ноября</option>
                                                        <option th:value="12">декабря</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sub">
                                            <div class="form-wrap">
                                                <label class="form-label-outside col-md-none"></label>
                                                <div class="form-wrap-inner label-none">
                                                    <!-- Select 2-->
                                                    <select th:field="*{user.year}" th:name="year" class="form-input select form-control-has-validation form-control-last-child select2-hidden-accessible">
                                                        <option value="0">год</option>
                                                        <option th:each="i : ${#numbers.sequence(2009, 1905)}" th:value="${i}" th:text="${i}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" id="btn-updateProfile" class="button button-sm button-primary">Сохранить</button>
                            </form>
                        </div>
                        <div class="tab-center tab-pane fade" id="tabs-1-2">
                            <form id="resetPasswordForm">
                                <div class="block-form">
                                    <h5>Пароль</h5>
                                    <hr>
                                    <div class="rd-form form-lg form-corporate">
                                        <div class="form-wrap">
                                            <label class="form-label-outside" for="currentPassword">Текущий пароль</label>
                                            <div class="form-wrap-inner">
                                                <input type="password" class="form-input required password" id="currentPassword" name="currentPassword">
                                                <span class="form-validation validation-name"></span>
                                            </div>
                                        </div>
                                        <div class="form-wrap">
                                            <label class="form-label-outside" for="newPassword">Новый пароль</label>
                                            <div class="form-wrap-inner">
                                                <input type="password" class="form-input required password" id="newPassword" name="newPassword">
                                                <span class="form-validation validation-name"></span>
                                            </div>
                                        </div>
                                        <div class="form-wrap">
                                            <label class="form-label-outside" for="confirmPassword">Ещё раз новый пароль</label>
                                            <div class="form-wrap-inner">
                                                <input type="password" class="form-input required password" id="confirmPassword" name="confirmPassword">
                                                <span class="form-validation validation-name"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" id="btn-resetPassword" class="button button-sm button-primary">Сменить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="~{fragments/footer :: footer}"></div>
<script src="/js/script-profile.js"></script>
</body>
</html>