<!DOCTYPE html>
<html class="wide desktop landscape rd-navbar-static-linked" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <div th:replace="~{fragments/links :: links1}"></div>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400%7CUbuntu:300,400,500,600,700">
</head>
<body>
<div th:replace="~{fragments/menu :: menu('')}"></div>
<section class="section section-md text-center">
    <div class="container">
        <div class="block-1">
            <h4>Вход в личный кабинет</h4>
            <div th:if="${error}" id="error-block">
                <p>Неверный логин или пароль</p>
            </div>
<!--            <div class="group-justify"><a class="button button-sm button-facebook button-icon button-icon-left" href="#">-->
<!--                <span class="icon fa fa-facebook"></span>Facebook</a><a class="button button-sm button-twitter button-icon button-icon-left" href="#">-->
<!--                <span class="icon fa fa-twitter"></span>Twitter</a><a class="button button-sm button-google button-icon button-icon-left" href="#">-->
<!--                <span class="icon fa fa-google-plus"></span>Google+</a></div>-->
<!--            <div class="text-decoration-lines"><span class="text-decoration-lines-content">or</span></div>-->
            <form class="rd-form form-centered form-filled" action="/check_login" method="post">
                <div class="form-wrap">
                    <input class="form-input" type="email" id="username" name="username" placeholder="E-mail" required>
                </div>
                <div class="form-wrap">
                    <input class="form-input" type="password" id="password" name="password" placeholder="Пароль" required>
                </div>
                <label id="reset-password"><span class="popup-open" id="reset-password-link">Забыли пароль?</span></label>
                <div class="row row-15 row-x-14 sm-6">
                    <div class="col-sm-6">
                        <button class="button button-block button-primary" type="submit">Войти</button>
                    </div>
                    <div class="col-sm-6">
                        <a class="button button-block button-default-outline" href="/register">Зарегистрироваться</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- Modal Windows -->
<div class="popup-fade">
    <div class="popup">
        <a class="popup-close" href="#"><span class="icon mdi mdi-close"></span></a>
        <div class="comment-main-modal">
            <form class="rd-mailform rd-mailform-outline" id="resetPasswordEmail">
                <div class="form-wrap">
                    <label class="form-label-outside" for="email">Укажите свой email</label>
                    <div class="form-wrap-inner">
                        <input class="form-input" id="email" name="email" type="email" placeholder="Введите email" required>
                        <p>Введите email, на который будет отправлена инструкция по восстановлению пароля.</p>
                    </div>
                </div>
                <div class="from-wrap-modal">
                    <button type="button" class="button button-primary" id="btnResetPassword">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="popup-fade-info">
    <div class="popup">
        <a class="popup-close" href="#"><span class="icon mdi mdi-close"></span></a>
        <div class="comment-main-modal">
            <h4><span class="icon-xlm icon-m-post-menu mdi mdi-check-circle-outline"></span>Запрос принят!</h4>
            <p>Инстркуция по восстановлению пароля отправлена на указанный email.</p>
            <button type="button" class="button button-primary" id="btnCloseModal">Закрыть</button>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script>

    $('#btnResetPassword').click(function () {
        $.ajax({
            type: 'POST',
            url: '/rest/account/reset-password',
            data: $('#resetPasswordEmail').serialize(),
        })
        $(this).parents('.popup-fade').fadeOut();
        $('.popup-fade-info').fadeIn();
    });

    $('#btnCloseModal').click(function () {
        $('.popup-fade-info').fadeOut();
    })

    $('.popup-open').click(function() {
        $('.popup-fade').fadeIn();
        $('#email').val('');
        return false;
    });

    // Клик по ссылке "Закрыть".
    $('.popup-close').click(function() {
        $(this).parents('.popup-fade').fadeOut();
        $(this).parents('.popup-fade-info').fadeOut();
        return false;
    });

    // Закрытие по клавише Esc.
    $(document).keydown(function(e) {
        if (e.keyCode === 27) {
            e.stopPropagation();
            $('.popup-fade').fadeOut();
            $('.popup-fade-info').fadeOut();
        }
    });

    // Клик по фону, но не по окну.
    $('.popup-fade').click(function(e) {
        if ($(e.target).closest('.popup').length == 0) {
            $(this).fadeOut();
        }
    });

    $('.popup-fade-info').click(function(e) {
        if ($(e.target).closest('.popup').length == 0) {
            $(this).fadeOut();
        }
    });

</script>
</body>
</html>