<!DOCTYPE html>
<html class="wide desktop landscape rd-navbar-static-linked" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Поиск партнеров и инвесторов для бизнеса</title>
    <meta name="description" content="Поиск партнеров и инвесторов для бизнеса">
    <meta name="keywords" content="поиск партнеров для бизнеса поиск инвесторов для бизнеса">
    <div th:replace="~{fragments/links :: links1}"></div>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400%7CUbuntu:300,400,500,600,700">
</head>
<body>
<div th:replace="~{fragments/menu :: menu('faq')}"></div>
<div th:replace="~{fragments/title :: title('Поиск партнеров и инвесторов для бизнеса')}"></div>

<section class="section">
<div class="container">
    <div id="text-center-page">
        <h4 class="heading-decorated_1 padding-top-40">Добро пожаловать на сайт find-team, поиск партнеров и инвесторов для бизнеса.</h4>
        <p>Наш сайт предоставляет бесплатную базу объявлений, где Вы можете найти партнеров или инвесторов для Вашего бизнеса.</p>
        <h5 class="padding-top-20">Для кого подойдет сайт find-team ?</h5>
        <p>На сайте find-team, Вы можете:</p>
        <ul class="list-marked-check">
            <li>Найти партнера для бизнеса</li>
            <li>Найти инвестора для бизнеса</li>
            <li>Инвестировать деньги в бизнес</li>
        </ul>
        <p>Если Вы хотите открыть свой бизнес с нуля, или у Вас уже есть свой работающий бизнес, и Вы хотите найти партнеров или инвесторов для
            расширения и роста Вашего бизнеса, Вы можете воспользоваться бесплатным поиском объявлений на нашем сайте.</p>
        <p>Также если у Вас есть бизнес идея или финансы, которые Вы хотите вложить в стартап или готовый бизнес,
            на сайте Вы сможете найти много объявлений, для реализации Ваших целей.</p>
        <h5 class="padding-top-20">Как пользоваться сайтом find-team ?</h5>
        <p>Чтобы воспользоваться поиском на сайте, перейдите в раздел <a href="/posts">Поиск партнеров/инвесторов</a>, в поиске необходимо выбрать страну и город,
            в котором Вы планируете найти партнера по бизнесу или инвестора для бизнеса.  Далее нажмите кнопку поиск, и Вы увидите все объявления в выбранном регионе.</p>
        <p>Если Вы хотите добавить свое объявление, Вам необходимо перейти в раздел <a href="/manage/post/add">Добавить пост</a>, где нужно выбрать страну и город
            (если не выбрать страну и город, Ваше объявление будет показывается во всех странах и городах), а также указать тему и текст объявления.</p>
        <h5 class="padding-top-20">Как правильно писать объявления ?</h5>
        <p>Для качественного объявления, мы рекомендуем подробно описывать,  что Вы ждете от партнеров по бизнесу или инвесторов.</p>
        <p>Если у Вас уже есть бизнес, напишите какая прибыль сейчас, и какую Вы ожидаете после привлечения инвестиций или поиска партнера.</p>
        <p class="padding-bottom-50">Если у Вас есть бизнес идея, и Вы ищите партнера или инвестора, будет хорошо, если Вы опишите небольшой бизнес план. </p>
    </div>
</div>
</section>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>